# Virtual environments
.venv/
venv/
env/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Environment files and logs
.env
*.log
